
# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
env/
.venv_0.1/
# Variables de entorno (secrets - secretos)
.env

# Configuración de editores
.vscode/
.idea/
*.sublime-*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints
